/* ==============================================
   MAIN CSS - Import All Stylesheets
   TFT Rank Check Application
   ============================================== */

/* Base & Variables */
@import url('./base.css');

/* Components */
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/modal.css');
@import url('./components/forms.css');
@import url('./components/matchHistory.css');

/* Utilities */
@import url('./utils/animations.css');